<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

	<h1>Microservices Demo - Web Server</h1>
	<h3>Overview</h3>
	<ul>
		<li>Demo defines a simple web-application for accessing accounts
			data.</li>
		<li>All the account information is fetched via a RESTful
			interface to a Accounts microservice.</li>
	</ul>

	<h3>The Demo</h3>

	<ul class="openlist">
		<li>Eureka Dashboard: <a
			href="http://localhost:1111">http://localhost:1111</a></li>
		<li>Check applications registered: <a
			href="http://localhost:1111/eureka/apps/">http://localhost:1111/eureka/apps/</a></li>
		<li>Fetch account #123456789: <a th:href="@{/accounts/123456789}">/accounts/123456789</a></li>

		<li>Fetch by name: <a th:href="@{/accounts/owner/Keri}">/accounts/owner/Keri</a></li>

		<li>Account <a th:href="@{/accounts/search}">Search</a></li>
	</ul>

	<h3>Spring Boot URLs</h3>
	<p>For those interested, Spring Boot provides RESTful URLs for
		interrogating your application (they return JSON format data):</p>

	<ul>
		<li><a th:href="@{/actuator/beans}">The beans</a></li>
		<li><a th:href="@{/actuator/env}">The environment</a></li>
		<li><a th:href="@{/actuator/health}">Application health</a></li>
		<li><a th:href="@{/actuator/mappings}">URL Mappings</a> - including
		     the /account mappings</li>
		<li><a th:href="@{/actuator/metrics}">Application metrics</a> - add any
		     metric name to the end of this URL, for example
		     <a th:href="@{/actuator/metrics/http.server.requests}">/actuator/metrics/http.server.requests</a></li>
		<li><a th:href="@{/actuator}">List of actuator endpoints</a></li>
	</ul>

	<div th:replace="footer :: copy"></div>

</body>
</html>